* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* body {
  overflow: hidden;
} */

::-webkit-scrollbar-track {
  background-color: rgb(28, 28, 30);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-width: 3px;
  border-style: solid;
  border-color: rgb(28, 28, 30);
}

::-webkit-scrollbar-thumb:hover {
  border-width: 2px;
  background-color: darken(rgba(255, 255, 255, 0.1), 5%);
}

::-webkit-scrollbar-button {
  display: none;
}

/* Header */
.istXrM {
  position: fixed !important;
  width: calc(100% - 9.9rem) !important;
  padding: 6px 30px !important;
  background-color: rgb(44, 44, 46) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07) !important;
  z-index: 100 !important;
  padding-top: 30px !important;
}

.MuiToolbar-root.MuiToolbar-regular.sc-kIOgPM.istXrM.MuiToolbar-gutters:before {
  -webkit-app-region: drag !important;
  content: '';
  font-size: 12px;
  text-align: left;
  display: flex;
  width: 100%;
  height: 30px;
  background: rgb(44, 44, 46);
  position: absolute;
  top: 0;
}

/* Left Menu */

.liTTkL:last-child {
  display: none;
}

.MuiList-root.sc-jWIHrV.kJuUoi.MuiList-padding > a:last-child {
  display: none !important;
}

/* Main */

.kFeyrb {
  margin: 0px auto !important;
  max-width: unset !important;
  height: calc(100vh - 133px) !important;
  overflow-y: scroll !important;
  margin-top: 90px !important;
  padding: 40px 10% !important;
}

@media (max-width: 1200px) {
  .kFeyrb {
    padding: 20px 40px !important;
  }
}

.kHQrUp {
  height: 100vh !important;
  position: relative !important;
}

.jLCoPq {
  padding-bottom: 30px !important;
}

.dBAyZa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px !important;
  position: relative !important;
  left: 0px !important;
  right: 0px !important;
  margin: 0px !important;
  bottom: 0px !important;
}

.iFsnpk {
  display: none;
}

/* Perfil */

.crVUpD {
  padding-bottom: 75px !important;
}

.sc-jWQEkk.dNRCRy,
.bfQJfw,
.sc-kcaJJN.eRHlEx > .sc-khcHxw.iomMdJ:last-child {
  display: none !important;
}
